.screen-reader-response {
  display: none;
}

.wpcf7-not-valid-tip {
  margin-top: 8px;
  color: #FF0000;
}

.wpcf7-response-output {
  margin-top: 8px;
  color: #FF0000;
}
.copy-right {
  gap: 5px;
  align-items: center;

}
.copy-right .line-white{
  width: 1.5px;
  height: 16px;
  background: white;
  color: white;
}